// File for scss-vars.
// For example: main colors, paddings and so on.

$textColor: #222222;

$topText: #4A4556;

$orange: #f47821;

$gray: #878787;

$bgLight: #f7f5fa;
$bgDark: #161616;

$tr: 0.25s;

$borderColor: #ededed;

$inputBorder: rgba(#f7f8fa, 0.1);
$inputBorder_f: rgba(#f7f8fa, 0.5);
