.top{
  text-align: center;
  padding: 165px 0 125px;
  @media (max-width: 767px) {
    padding: 80px 0 60px;
  }
}

.top__title{
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  @media (max-width: 991px) {
    font-size: 38px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.top__text{
  color: $topText;
  margin-bottom: 45px;
  font-family: $RobotoFont;
}

.top__link{
  color: $orange;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
