.top{
  text-align: center;
  padding: 165px 0 125px;
}

.top__title{
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

.top__text{
  color: $topText;
  margin-bottom: 45px;
  font-family: $RobotoFont;
}

.top__link{
  color: $orange;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
