mixin top(data)
    section.top.container
        h1.top__title Ты готов стать профессионалом?
        p.top__text Мы ищем <a href="#" class="top__link">талантов</a> и <a href="#" class="top__link">саппортов</a> в команду. Решите на какую категорию вы претендуете.
        a(href="#").btn.btn--plus Заполнить анкету

