mixin top(data)
    section.top.container
        h1.top__title Ты готов стать профессионалом?
        p.top__text Мы ищем <a href="#">талантов</a> и <a href="#">саппортов</a> в команду. Решите на какую категорию вы претендуете.
        a(href="#").btn.btn__plus Заполнить анкету

        p Гибкий график
