mixin popup(data)
    //a#popup.jsModalTrigger(href='#jsModal') Trigger
    #jsModal.modal
        .modal__overlay.jsOverlay
        .modal__container
            h3 Сейчас форма могла бы быть отправлена на сервер:)
            button.modal__close.jsModalClose ✕
