.text-block{
    max-width: 775px;
    padding-top: 80px;
    padding-bottom: 100px;
    @media (max-width: 1365px) {

    }
    @media (max-width: 991px) {

    }
    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.text-block__title{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 24px;
    font-weight: 400;
}

.text-block__text{
    font-size: 16px;
    line-height: 26px;
    font-family: $RobotoFont;
    margin: 0 0 40px;
}
